force-app/main/default/flows/Account_Before_Record_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>condition_1</name>
        <label>condition 1</label>
        <locationX>751</locationX>
        <locationY>332</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Name</targetReference>
            </connector>
            <label>outcome1</label>
        </rules>
    </decisions>
    <formulas>
        <name>newName</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Type}) + &quot;-&quot; + {!$Record.Name}</expression>
    </formulas>
    <interviewLabel>Account - Before Record Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Before Record Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Name</name>
        <label>Update Name</label>
        <locationX>756</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>AccountSource</field>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>newName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>619</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>condition_1</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
